@import "../../styles/utilities";

.mapContainer {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  right: 0;

  svg {
    width: 800px;
    height: auto;
  }

  a {
    color: map-get($theme, secondary);
    font-weight: 500;
    font-size: 1.25rem;
    font-family: "Literata", serif;
    text-transform: none;
  }

  .attContainer {
    width: 800px;
  }

  .imgContainer {
    display: flex;
    width: 800px;
    justify-content: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .col {
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-bottom: 1rem;

      @include media-breakpoint-down(md) {
        flex-direction: row;
      }

      small {
        color: map-get($theme, primary-dark);
        margin-top: 0.5rem;
        width: 350px;
        text-align: right;
      }

      .wrapper {
        width: 350px;
        height: auto;

        picture {
          img {
            border: 5px solid #ffffff;
          }
        }
      }
    }
  }
}
