@import "../../styles/utilities";

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: center;
  padding: 0 4rem;

  @include media-breakpoint-down(sm) {
    padding: 15rem 0;
    height: auto;
  }

  svg {
    width: 120px;
    height: auto;
    margin-bottom: 2rem;
  }

  a {
    color: map-get($theme, primary-dark);
    font-weight: 500;
    font-size: 1.15rem;
    font-family: "Literata", serif;
    text-transform: none;
  }

  p {
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      padding: 0 0.5rem 0.5rem 0.5rem;
      background-color: rgba(129, 191, 226, 0.7);
    }
  }
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 0 4rem;

  @include media-breakpoint-down(sm) {
    height: auto;
    padding: 0;
    margin-bottom: 4rem;
  }

  h4 {
    @include media-breakpoint-down(sm) {
      padding: 0.5rem;
      background-color: rgba(129, 191, 226, 0.7);
    }
  }

  h5 {
    text-align: right;

    @include media-breakpoint-down(sm) {
      padding: 0.5rem;
      background-color: rgba(129, 191, 226, 0.7);
    }
  }

  small {
    text-align: right;

    @include media-breakpoint-down(sm) {
      padding: 0.5rem;
      background-color: rgba(129, 191, 226, 0.7);
    }
  }
}
