@import "../../styles/utilities";

.titleContainer {
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: center;
  padding: 0 4rem;

  img {
    width: 100%;
    max-width: 180px;
    height: auto;
  }

  h3 {
    text-transform: uppercase;
    color: map-get($theme, primary-dark);
  }

  svg {
    width: 120px;
    height: auto;
    margin-bottom: 2rem;
  }

  a {
    color: map-get($theme, secondary);
    font-weight: 500;
    font-size: 1.25rem;
    font-family: 'Literata', serif;
    text-transform: none;
  }
}
