@import "../styles/utilities";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-height: 60px;

  .topbar {
    display: flex;
    justify-content: center;
    padding: 0 5rem;

    .navContainer {
      width: 100%;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        color: map-get($theme, secondary);
      }

      .social {
        flex-grow: 0.1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .fullOverlay {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
      pointer-events: none;
  }

  .sidebar {
    background: map-get($theme, dark);
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    box-shadow: 2px 0px 15px 0 #0f0f0f;
    z-index: 10000;
    padding: 1rem 2rem;
    transform: translateX(-350px);

    .close {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 1rem;

        button {
            color: map-get($theme, secondary);
        }
    }

    ul {
      list-style: none;
      padding-inline-start: 0;

      li {
        font-family: "Space Mono", sans-serif;
        letter-spacing: 0.5px;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        color: map-get($theme, secondary);
        margin-bottom: 1rem;

        a {
          color: map-get($theme, secondary);
        }
      }
    }

    &.closed {
        display: none;
    }
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
  }
}
