$font-size-7: 1.15em;
$font-size-6: 1.5em;
$font-size-5: 1.5em;
$font-size-4: 1.5em;
$font-size-3: 2em;
$font-size-2: 3em;
$font-size-1: 4em;

h1 {
	font-family: 'Big Shoulders Text', sans-serif;
	font-weight: 700;
	font-size: $font-size-1;
	text-transform: uppercase;
}

h2 {
	font-family: 'Big Shoulders Text', sans-serif;
	font-weight: 400;
	font-size: $font-size-2;
	line-height: 1em;
}

h3 {
	font-family: 'Space Mono', sans-serif;
	font-weight: 700;
	font-size: $font-size-3;
	line-height: 1.25em;
}

h4 {
	font-family: 'Space Mono', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: $font-size-4;
	line-height: 1.25em;
}

h5 {
	font-family: 'Big Shoulders Text', sans-serif;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: $font-size-5;
}

h6 {
	font-family: 'Literata', serif;
	font-weight: 700;
	font-size: $font-size-6;
}

p {
	font-family: 'Literata', serif;
	font-weight: 400;
	font-size: $font-size-7;
	line-height: 1.75rem;
}

button, a {
	font-family: 'Space Mono', sans-serif;
	letter-spacing: .5px;
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
}